<?xml version="1.0"?>

<model>

  <name>diffdrive</name>

  <version>1.0</version>

  <sdf version='1.4'>model.sdf</sdf>

  <author>

    <name>Your name</name>

    <email>your@email.address</email>

  </author>

  <description>

    A simple differential robot with ROS control plugin

  </description>

</model>
