image: docker:git # docker and git clients
variables:
  DISTRO: "xenial"
services:
  - docker:dind

before_script:
  - if [[ -d $HOME/docker ]]; then ls $HOME/docker/*.tar.gz | xargs -I {file} sh -c "docker load -i {file} "; fi

stages:
  - build
  - test

kinetic:
  stage: build
  script:
    - sh docker/docker-build.sh ${DISTRO}
  only:
    - master
    - devel
