<launch>
    <include file="$(find socketcan_bridge)/launch/can_interface.launch"/>

    <!-- Joy -->
    <node pkg="joy" type="joy_node" name="joy" respawn="true" output="screen"/>

    <!-- Arm Control -->
    <node pkg="arm_control" type="arm_control.py" name="arm_control" respawn="true" output="screen"/>

    <!-- Debug -->
    <node pkg="arm_control" type="listener.py" name="arm_control_listener" respawn="true" output="screen"/>
</launch>
