<launch>
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
	<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
		<param name="video_device" value="/dev/video0" />
	</node>
	<node name="usb_cam2" pkg="usb_cam" type="usb_cam_node" output="screen">
		<param name="video_device" value="/dev/video1" /> 
	</node>
	<node name="web_video_server" pkg="web_video_server" type="web_video_server" output="screen"/>
</launch>
