<launch>
    <machine name="archieleepc" user="archie" address="192.168.3.10" env-loader="/home/archie/git/robotics/MarsRover2017/Workspace/devel/env.sh"/>
    <machine name="ubuntu-TP" user="lichunshang" address="192.168.2.10" env-loader="/home/lichunshang/Documents/MarsRover2017/Workspace/devel/env.sh"/>

    <include file="$(find socketcan_bridge)/launch/can_interface.launch"/>

    <group>
        <machine name="archieleepc" user="archie" address="192.168.3.10" env-loader="/home/archie/git/robotics/MarsRover2017/Workspace/devel/env.sh"/>
        <node pkg="gimbal_control" type="gimbal_control.py" name="gimbal_control" respawn="true"/>
    </group>

    <include file="$(find arm_control)/launch/arm_control.launch"/>
</launch>
