<launch>

<!-- local launch below -->

  <include 
    file="$(find teleop_twist_joy)/launch/teleop.launch"
  />


  <node 
  	pkg="rover_joy" 
  	type="rover_joy_node" 
  	name="rover_joy"
  	respawn = "true"
  />

<!-- nodes/includes from rover below -->

<group>
  <machine 
    name="uwrt" 
    address="192.168.3.2" 
    env-loader="/opt/ros/indigo/env.sh"
  />

  <include 
    file="$(find roboteq_driver)/launch/example.launch"
  />
</group>

<!-- 
reference to machine tags 
http://answers.ros.org/question/41413/how-to-include-a-launch-file-on-a-remote-machine-from-a-launch-file/
-->



</launch>
